version: '3.8'

services:
  # PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    container_name: todolist-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todolist
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # NestJS API Server
  api-server:
    build:
      context: ./api-server
      dockerfile: Dockerfile
    container_name: todolist-api
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/todolist?schema=public
      PORT: 3000
      NODE_ENV: production
      CORS_ORIGIN: http://10.13.104.100
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

  # React Web App
  web-app:
    build:
      context: ./web-app
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://10.13.104.100:3000
    container_name: todolist-web
    ports:
      - "80:80"
    depends_on:
      - api-server
    networks:
      - app-network
    restart: unless-stopped

  # Nginx Prometheus Exporter
  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: todolist-nginx-exporter
    command:
      - '-nginx.scrape-uri=http://web-app:80/stub_status'
    ports:
      - "9113:9113"
    depends_on:
      - web-app
    networks:
      - app-network
    restart: unless-stopped

  blackbox-exporter:
    image: prom/blackbox-exporter:latest
    container_name: blackbox-exporter
    volumes:
      - ./monitoring/blackbox.yml:/etc/blackbox_exporter/config.yml:ro
    command:
      - "--config.file=/etc/blackbox_exporter/config.yml"
    ports:
      - "9115:9115"
    restart: unless-stopped


volumes:
  postgres_data:
  prometheus_data:
  grafana_data:

networks:
  app-network:
    driver: bridge
